<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460532408903-rlmffouj8494k2ogja6m4uvoc11ik7d8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460532408903-rlmffouj8494k2ogja6m4uvoc11ik7d8</string>
	<key>API_KEY</key>
	<string>AIzaSyApFwSEHGat60rl8rPuAAC0NWONdWXl54k</string>
	<key>GCM_SENDER_ID</key>
	<string>460532408903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yuken.-v1ForApex</string>
	<key>PROJECT_ID</key>
	<string>v1forapex-5a1d7</string>
	<key>STORAGE_BUCKET</key>
	<string>v1forapex-5a1d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460532408903:ios:64d86d19bb952bafc58762</string>
	<key>DATABASE_URL</key>
	<string>https://v1forapex-5a1d7.firebaseio.com</string>
</dict>
</plist>